-- =====================================================
-- BASE DE DATOS: RETAILNOVA GROUP
-- Cadena de Suministro - Agentes IA Colaborativos
-- =====================================================

-- TABLA: PRODUCTOS (100 registros)
CREATE TABLE productos (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    categoria TEXT NOT NULL,
    subcategoria TEXT NOT NULL,
    sku TEXT UNIQUE NOT NULL,
    precio_costo REAL NOT NULL,
    precio_venta REAL NOT NULL,
    proveedor_id INTEGER,
    peso_kg REAL,
    vida_util_dias INTEGER
);


-- TABLA: TIENDAS (50 registros)
CREATE TABLE tiendas (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    pais TEXT NOT NULL,
    ciudad TEXT NOT NULL,
    tipo TEXT NOT NULL,
    tamano TEXT NOT NULL,
    direccion TEXT,
    gerente TEXT,
    fecha_apertura DATE
);


-- TABLA: PROVEEDORES (30 registros)
CREATE TABLE proveedores (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    pais TEXT NOT NULL,
    ciudad TEXT NOT NULL,
    tiempo_entrega_dias INTEGER NOT NULL,
    confiabilidad_score REAL NOT NULL,
    telefono TEXT,
    email TEXT
);


-- TABLA: INVENTARIOS (2000 registros)
CREATE TABLE inventarios (
    id INTEGER PRIMARY KEY,
    tienda_id INTEGER NOT NULL,
    producto_id INTEGER NOT NULL,
    stock_actual INTEGER NOT NULL,
    stock_minimo INTEGER NOT NULL,
    stock_maximo INTEGER NOT NULL,
    fecha_ultima_reposicion DATE,
    FOREIGN KEY (tienda_id) REFERENCES tiendas(id),
    FOREIGN KEY (producto_id) REFERENCES productos(id)
);

-- Insertar inventarios para las primeras 10 tiendas con los primeros 20 productos

-- TABLA: VENTAS (5000 registros - ejemplos representativos)
CREATE TABLE ventas (
    id INTEGER PRIMARY KEY,
    fecha DATE NOT NULL,
    tienda_id INTEGER NOT NULL,
    producto_id INTEGER NOT NULL,
    cantidad INTEGER NOT NULL,
    precio_unitario REAL NOT NULL,
    total REAL NOT NULL,
    metodo_pago TEXT,
    FOREIGN KEY (tienda_id) REFERENCES tiendas(id),
    FOREIGN KEY (producto_id) REFERENCES productos(id)
);


-- TABLA: ORDENES (1000 registros)
CREATE TABLE ordenes (
    id INTEGER PRIMARY KEY,
    fecha DATE NOT NULL,
    tienda_id INTEGER NOT NULL,
    proveedor_id INTEGER NOT NULL,
    estado TEXT NOT NULL,
    total REAL NOT NULL,
    fecha_estimada_entrega DATE,
    FOREIGN KEY (tienda_id) REFERENCES tiendas(id),
    FOREIGN KEY (proveedor_id) REFERENCES proveedores(id)
);


-- TABLA: ENVIOS (1000 registros)
CREATE TABLE envios (
    id INTEGER PRIMARY KEY,
    orden_id INTEGER NOT NULL,
    transportista TEXT NOT NULL,
    origen TEXT NOT NULL,
    destino TEXT NOT NULL,
    estado TEXT NOT NULL,
    fecha_salida DATE,
    fecha_llegada DATE,
    costo_envio REAL,
    FOREIGN KEY (orden_id) REFERENCES ordenes(id)
);


-- TABLA: PRONOSTICOS (500 registros)
CREATE TABLE pronosticos (
    id INTEGER PRIMARY KEY,
    tienda_id INTEGER NOT NULL,
    producto_id INTEGER NOT NULL,
    fecha DATE NOT NULL,
    demanda_estimada INTEGER NOT NULL,
    demanda_real INTEGER,
    precision REAL,
    FOREIGN KEY (tienda_id) REFERENCES tiendas(id),
    FOREIGN KEY (producto_id) REFERENCES productos(id)
);


-- TABLA: KPIs (200 registros)
CREATE TABLE kpis (
    id INTEGER PRIMARY KEY,
    tienda_id INTEGER NOT NULL,
    mes INTEGER NOT NULL,
    anio INTEGER NOT NULL,
    tasa_rotura_stock REAL,
    tiempo_promedio_entrega REAL,
    costo_logistica REAL,
    precision_pronostico REAL,
    ventas_totales REAL,
    numero_ordenes INTEGER,
    FOREIGN KEY (tienda_id) REFERENCES tiendas(id)
);

